#import lib

In [1]:
import pandas as pd

#อ่านข้อมูลในไฟล์

In [2]:
df = pd.read_excel("week02_workshop.xlsx")

#เรียงข้อมูลจาก นามสกุล

In [3]:
df_1 = df.sort_values("นามสกุล")
df_1

      ID         ชื่อ         นามสกุล
4    105       Anuwat   Bannaraksakul
31   132     Nattawut          Bunsri
34   135     Nitipong    Chandhanonta
19   120      Kattiya   Charoenpakdee
53   154     Siwaporn  Charuchotiwong
..   ...          ...             ...
69   170  กิตติศักดิ์     เรืองกระโทก
106  207         วริศ   เอนกบุญทวีโชค
67   168         ภเสฐ     โสภาถาวรกิจ
117  218       สิริมา         โอบอ้อม
110  211       ศรันย์      โอวรารินท์

[130 rows x 3 columns]